<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="card-title">Sample HTML Questions</div>
    </div>
    <div class="card-body">

      {{!-- Code to be edited Here --}}


      {{!--
      1) Show population on right hand side of list
      2) Add Capital to list
      --}}
      <ul class="list-group">
        {{#each state}}
        <li class="list-group-item">{{State}} - {{Population}}</li>
        {{/each}}
      </ul>












    </div>
  </div>
</div>